.bill-exchange {
    @media (max-width : 768px) {
        padding: 3px;
    }

    .body-bill-exchange {
        border-radius: 10px;
        padding: 0.2rem 0.55rem;
        .date-bill-exchange{
            display: flex;
            @media (max-width :768px) {
                flex-direction: column;
                .xx{
                    flex-direction: column;
                    width: 100% !important;
                    margin: 0px !important;
                    input{
                        margin:5px 1px !important;
                    }
                    .btns{
                        width: 100%;
                        margin: 5px auto;
                    }
                }
            }        
        }
        .search-bill-exchange {
            display: flex;
            margin: 0 0.9rem 1rem;
            @media (max-width : 768px) {
                :nth-child(1) {
                    input {
                        width: 100%;
                        margin: 0px 0px 10px;
                    }
                }
                width: 100%;
                flex-direction: column;
            }
        }
        table {
            --bs-border-opacity: 2 !important;
            border-color: $maincolor !important;
            @media (max-width :768px) {
                margin: 0 10px;
            }
            .condition1{
                background-color: #98DB4B;
                padding: 2px 7%;
                border-radius: 10px;
                @media (max-width:768px) {
                    display: flex;
                    flex-direction: column;
                    width: 50px;
                }
            }
            .condition2{
                background-color : #5EA4EB;
                padding: 2px 8%;
                border-radius: 10px;
                @media (max-width:768px) {
                    display: flex;
                    flex-direction: column;
                    padding: 2px 8% 8px;
                    width: 60px;
                }
            }
            .procedures{
                @media (max-width :768px) {
                    display: flex;
                    flex-direction: column;
                }
                .Preview{
                    background-color : #A200ff;
                    color: $white;
                    padding: 2px 10%;
                    border-radius: 50%;
                    @media (max-width:768px) {
                        width: 35px;
                        // padding: 2px 5%;
                        margin: 5px auto !important;
                    }
                }
                .Print{
                    background-color: #5EA4EB;
                    color: $white;
                    padding: 2px 10%;
                    border-radius: 50%;
                    @media (max-width:768px) {
                        width: 35px;
                        // padding: 2px 15%;
                        margin: 5px auto;
                    }
                }
            }
            
        }
   
    }
    
}