.Customer{

    @media (max-width : 768px) {
        padding: 3px;
    }

    .body-Customer {
        border-radius: 10px;
        padding: 0.2rem 0.55rem;
        .search-Customer {
            display: flex;
            margin: 0 0.9rem 1rem;
            @media (max-width : 768px) {
                :nth-child(1) {
                    input {
                        width: 100%;
                        margin: 0px 0px 10px;
                    }
                }
                width: 100%;
                flex-direction: column;
            }
        }
        table {
            --bs-border-opacity: 2 !important;
            border-color: $maincolor !important;
            @media (max-width :768px) {
                margin: 0 10px;
            }
            .condition1{
                background-color: #98DB4B;
                padding: 2px 5px;
                border-radius: 10px;
            }
            .condition2{
               background-color : #5EA4EB;
                padding: 2px 7%;
                border-radius: 10px;
            }
            .Preview{
                background-color : #A200ff;
                color: $white;
                padding: 2px 10%;
                border-radius: 50%;
                @media (max-width:768px) {
                    width: 50px;
                    padding: 2px 15%;
                }
            }
        }
   
    }
}