.sect-extra-setting{
    .nav-tabs{
        button{
            width:33% !important ;
            color: black;
            border: 1px solid $gray;
            border-radius: 0px 0px  ;
            &:hover{
                background-color: $maincolor !important;
                color: $white;
            }
            &:active{
                background-color: $maincolor !important;

            }
        }
    }
}