* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("path/to/DINNextLTArabic-Regular.ttf") format("truetype");
  /* Add other font weights and styles if available */
}
body,
html {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Changa", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.btns {
  margin: 0 10px;
  padding: 0.2rem 0.5rem 0.3rem;
  border: 0.5px solid #00ced2;
  border-radius: 7px;
  transition: all 1s;
}
.btns:hover {
  background-color: #00ced2;
  color: #FFF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
  border: 0.2px solid #00ced2;
  border-radius: 8px;
}
input:focus {
  border-color: #00ced2;
  box-shadow: rgba(0, 207, 210, 0.7333333333);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Changa", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 24px;
}
@media (max-width: 991px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.bg-image {
  background-image: url(../image/bg-2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-image .body-card {
  width: 65%;
  padding: 2rem 0;
  background-color: #fff;
  border-radius: 5px;
}
.bg-image .body-card .logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-image .body-card .logo-header img {
  width: 100px;
}
.bg-image .body-card .line-on-side {
  border-bottom: 1px solid #dadada;
  line-height: 0.1em;
  margin: 25px 0 10px;
  font-size: 0.8rem;
}
.bg-image .body-card .line-on-side span {
  padding: 0px 1rem !important;
  background-color: #FFF;
}
.bg-image .body-card .container {
  padding: 2rem 0 0;
}
.bg-image .body-card .container .offset-1 {
  margin-left: 4%;
}
.bg-image .body-card .container form input {
  margin: 6px auto;
}
.bg-image .body-card .container form .form-control:focus {
  border-color: #00ced2 !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 210, 0.25);
}
.bg-image .body-card .container form .btn-submit {
  color: #FFF;
  background-color: #00ced2;
  transition: all 0.5s;
}
.bg-image .body-card .container form .btn-submit:hover {
  background-color: rgba(0, 207, 210, 0.7333333333);
}
.bg-image .body-card .container .card-footer {
  text-align: center;
  margin: 1.5rem;
}
.bg-image .body-card .container .card-footer a {
  text-decoration: none;
  color: #00ced2;
  transition: all 0.9s;
}
.bg-image .body-card .container .card-footer a:hover {
  color: rgba(0, 207, 210, 0.7333333333);
  text-decoration: underline;
}
@media (max-width: 500px) {
  .bg-image {
    padding: 0px auto;
    height: auto;
  }
  .bg-image .body-card {
    width: 75%;
    padding: 1rem 0;
  }
  .bg-image .body-card .logo-header img {
    width: 90px;
  }
  .bg-image .body-card .line-on-side {
    font-size: 0.7rem;
  }
  .bg-image .body-card .line-on-side span {
    padding: 0px 0.3rem !important;
  }
  .bg-image .body-card .container {
    padding: 0 30px !important;
  }
  .bg-image .body-card .container .offset-1 {
    margin-left: 0% !important;
  }
  .bg-image .body-card .container .g-3 {
    --bs-gutter-y:0px !important ;
  }
  .bg-image .body-card .container .card-footer {
    margin: 1rem;
  }
}

.bg-aaa {
  width: 100%;
  height: 100vh;
  background-color: darkblue;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar .navbar-toggler {
  border-color: #00ced2;
}
.navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 210, 0.25) !important;
}
.navbar .navbar-collapse {
  padding: 5px;
}
.navbar .form-user {
  width: 20rem;
}
.navbar .form-user .icon-notfic {
  padding: 5px 10px;
  border: 2px solid #EAECED;
  border-radius: 15px;
  transition: all 1s;
}
.navbar .form-user .icon-notfic:hover {
  background-color: #EAECED;
  border-color: #00ced2;
}
.navbar .form-user .input-lang {
  border: 0px;
  background-color: transparent;
  outline: none;
}
.navbar .form-user .input-lang:focus {
  border-color: #00ced2;
  border-radius: 3px;
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 210, 0.25);
}
.navbar .form-user .account .btn-user {
  width: 9rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px;
  border-radius: 10% !important;
}
.navbar .form-user .account .btn-user:focus {
  border-color: #00ced2;
  border-radius: 3px;
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 210, 0.25);
}
.navbar .form-user .account .btn-user .afatar-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid;
  overflow: hidden;
}
.navbar .form-user .account .btn-user .afatar-img img {
  width: 100%;
}

.sidebar {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  /* Media Query for Mobile */
}
.sidebar .menu-list {
  list-style-type: none;
  padding: 0;
}
.sidebar .menu-list .menu-item {
  flex: 0 0 calc(33.33% - 20px);
  /* Set flex basis to 33.33% with margin */
  margin: 0 10px 10px 0;
  /* Adjust margin as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin: 10px 5px;
  border-radius: 12px;
  height: 70px;
  transition: all 0.5s ease-in-out;
  background-color: #EAECED;
}
.sidebar .menu-list .menu-item a {
  color: #00ced2;
  text-decoration: none;
  transition: all 0.9s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sidebar .menu-list .menu-item svg {
  fill: #00ced2;
}
.sidebar .menu-list .menu-item.active {
  background-color: #00ced2;
}
.sidebar .menu-list .menu-item.active a {
  color: #FFF;
}
.sidebar .menu-list .menu-item.active svg {
  fill: #FFF !important;
}
.sidebar .menu-list .menu-item:hover {
  background-color: #00ced2;
}
.sidebar .menu-list .menu-item:hover a {
  color: #FFF;
}
.sidebar .menu-list .menu-item:hover svg {
  fill: #FFF !important;
}
@media (max-width: 767px) {
  .sidebar .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .sidebar .menu-item {
    flex-basis: calc(50% - 20px);
    /* Set flex basis to 50% for two items per row */
  }
}

.dash-product {
  background-color: #f5f5f5;
  padding: 10px;
}
.dash-product .search {
  display: flex;
  justify-content: space-evenly;
}
.dash-product .search .btn-qrCode {
  background-color: #00ced2;
  margin: 0 0.5rem;
}
.dash-product .search .btn-qrCode svg {
  fill: #FFF;
  font-size: 35px !important;
}
.dash-product .search .btn-qrCode:hover {
  background-color: rgba(0, 207, 210, 0.7333333333);
}
.dash-product .search .form-search {
  display: flex;
  width: 100%;
}
.dash-product .search .form-search input {
  border: 1px solid #00ced2;
}
.dash-product .search .form-search input:focus {
  border-color: #00ced2 !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 210, 0.25);
}
.dash-product .search .form-search button {
  border: 1px solid #00ced2;
  background-color: #00ced2;
  color: #FFF;
}
.dash-product .search .form-search button:hover {
  background-color: rgba(0, 207, 210, 0.7333333333);
}
.dash-product .search .select-Depot {
  width: 50%;
  margin: 0 0.1rem;
  border: 1px solid #00ced2 !important;
  border-radius: 5px;
}
.dash-product .search .select-Depot:focus, .dash-product .search .select-Depot:active {
  border-color: #00ced2 !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 210, 0.25);
}
@media (max-width: 500px) {
  .dash-product .search .select-Depot {
    width: 95%;
    margin: 8px 0.5rem;
  }
}
.dash-product nav .nav-link {
  color: #00ced2;
  border-bottom: 1px solid;
}
.dash-product nav .nav-link:hover {
  border-color: #00ced2;
  background-color: #00ced2;
  color: #FFF;
}
.dash-product nav .nav-link.active {
  border-bottom: 0px;
  border-color: #00ced2;
}
.dash-product .filter-categories {
  margin: 15px auto;
}
.dash-product .filter-categories .btn-categories {
  border: 1px solid #EAECED;
  background-color: #EAECED;
  margin: 0 6px;
  padding: 8px 15px;
  width: 80px;
}
.dash-product .filter-categories .btn-categories:hover,
.dash-product .filter-categories .btn-categories :active {
  background-color: #00ced2;
  color: #FFF;
}
.dash-product .all-product {
  margin: 5px auto;
}
.dash-product .all-product .col-md-3 {
  width: 23% !important;
}
.dash-product .all-product .col-md-3 a {
  width: 2.2rem;
  height: 2.2rem;
  border: 0.5px solid #00ced2;
  background-color: #EAECED;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 1s;
}
.dash-product .all-product .col-md-3 a i {
  font-size: 18px;
  color: #00ced2;
  transition: all 1s;
}
.dash-product .all-product .col-md-3 a:hover {
  background-color: #00ced2;
}
.dash-product .all-product .col-md-3 a:hover i {
  color: #FFF !important;
}
@media (max-width: 500px) {
  .dash-product .all-product .col-md-3 {
    width: 100% !important;
  }
}
.dash-product .pagination-prodact {
  display: flex;
  justify-content: end;
  margin: 0.9rem 0 0;
}
.dash-product .pagination-prodact li a {
  color: #00ced2;
  font-size: 20px;
}
.dash-product .pagination-prodact li a:hover {
  font-size: 25px;
  color: #FFF;
  background-color: rgba(0, 207, 210, 0.7333333333) !important;
}
@media (max-width: 500px) {
  .dash-product .pagination-prodact {
    justify-content: center !important;
  }
}

.products-cart {
  border: 1px solid black;
}
.products-cart .select-user {
  width: 100%;
  border-color: #00ced2;
  border-radius: 7px;
  outline: none;
}
.products-cart .select-user:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 210, 0.25);
}
.products-cart .btn-add-user {
  background-color: #EAECED;
  border: 0.1px solid #00ced2;
  transition: all 1s;
}
.products-cart .btn-add-user:hover {
  background-color: #00ced2;
  color: #FFF;
}
.products-cart .btn-clear-cart {
  padding: 5px 15px !important;
  background-color: #EAECED;
  color: #dc3545;
  border: 0.5px solid #00ced2;
}
.products-cart .btn-clear-cart:hover {
  background-color: #00ced2;
  color: #FFF;
}
.products-cart .card {
  padding: 8px;
}
.products-cart .card .input-price {
  width: 40px;
  text-align: center;
  border: 0.2px solid #00ced2;
}
.products-cart .card .btn-total-item {
  width: 1.2rem;
  height: 1.7rem;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  font-size: 13px;
  border: 0px;
  border-radius: 5px;
  align-items: center;
  background-color: #EAECED;
  transition: all 0.5s;
}
.products-cart .card .btn-total-item:hover {
  background-color: #00ced2;
  color: #FFF;
}
.products-cart .card input {
  border: 0px;
  outline: none;
  border: 0.2px solid #00ced2;
  border-radius: 5px;
  height: 30px;
}
.products-cart .card input:focus, .products-cart .card input:checked {
  border-color: #00ced2 !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 210, 0.25);
}
.products-cart .sec-payment {
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 1rem;
}
.products-cart .sec-payment .btn-payment {
  background-color: #00ced2;
  color: #FFF;
  padding: 8px 20px;
}
.products-cart .sec-payment .btn-payment:hover {
  background-color: #283C47;
}
.products-cart .sec-payment .btn-cancel:hover {
  background-color: #dc3545;
}
@media (max-width: 768px) {
  .products-cart {
    border-left: 0px;
    border-right: 0px;
  }
  .products-cart .sec-payment .row .col-md-9 {
    width: 70%;
  }
  .products-cart .sec-payment .row .col-md-9 h6, .products-cart .sec-payment .row .col-md-9 h5 {
    font-size: 16px;
  }
  .products-cart .sec-payment .row .col-md-3 {
    width: 30%;
  }
  .products-cart .sec-payment .row .col-md-6 {
    width: 50%;
  }
  .products-cart .sec-payment .row .col-md-6 .btn-payment {
    font-size: 16px;
    padding: 8px 10px;
  }
}

.btn-layer {
  display: none;
}

@media (max-width: 768px) {
  .Shopping-cart-box {
    display: none;
    background-color: #EAECED;
    position: fixed;
    z-index: 99999999;
    top: 0;
    overflow-y: scroll;
    height: 100%;
    padding: 10px 0 0px;
  }
  .btn-layer {
    background-color: #00ced2;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 15px;
    border: 0.5px solid;
    border-radius: 15%;
    z-index: 999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-open-cart {
    display: flex;
    align-items: center;
    border: 1px solid #00ced2;
    border-radius: 8px;
    padding: 5px;
    width: 60px;
    height: 40px;
    transition: all 1s;
  }
  .btn-open-cart:hover {
    background-color: #00ced2;
    color: #FFF;
  }
  .btn-close-cart {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid #00ced2;
    border-radius: 8px;
    padding: 0 5px;
    width: 75px;
    height: 50px;
    transition: all 1s;
  }
  .btn-close-cart:hover {
    background-color: #00ced2;
    color: #FFF;
  }
}
.Customer table {
  --bs-border-opacity: 2 !important;
  border-color: #00ced2 !important;
}

/*# sourceMappingURL=style.css.map */
